

[submodule "3D/mini3d"]
	path = 3D/mini3d
	url = git@github.com:XiuyeXYE/mini3d.git

[submodule "git"]
	path = git
	url = git@github.com:XiuyeXYE/git.git

[submodule "coroutines/libaco"]
	path = coroutines/libaco
	url = git@github.com:XiuyeXYE/libaco.git



[submodule "coroutines/libcopp"]
	path = coroutines/libcopp
	url = git@github.com:XiuyeXYE/libcopp.git

[submodule "coroutines/libco"]
	path = coroutines/libco
	url = git@github.com:XiuyeXYE/libco.git

[submodule "coroutines/NtyCo"]
	path = coroutines/NtyCo
	url = git@github.com:XiuyeXYE/NtyCo.git

[submodule "coroutines/coroutine"]
	path = coroutines/coroutine
	url = git@github.com:XiuyeXYE/coroutine.git


[submodule "coroutines/async-coroutine"]
	path = coroutines/async-coroutine
	url = git@github.com:XiuyeXYE/async-coroutine.git

[submodule "openjdk8"]
	path = openjdk8
	url = git@github.com:XiuyeXYE/OpenJDK-Research.git
	
[submodule "jdk"]
	path = jdk
	url = git@github.com:XiuyeXYE/jdk.git



[submodule "cpbook-code"]
	path = cpbook-code
	url = git@github.com:XiuyeXYE/cpbook-code.git

[submodule "OS/minix"]
	path = OS/minix
	url = git@github.com:XiuyeXYE/minix.git

[submodule "xv6-public"]
	path = OS/xv6-public
	url = git@github.com:XiuyeXYE/xv6-public.git
