
[submodule "mini3d"]
	path = 3D/mini3d
	url = git@github.com:XiuyeXYE/mini3d.git
	branch = master

[submodule "git"]
	path = git
	url = git@github.com:XiuyeXYE/git.git
	branch = master

[submodule "libaco"]
	path = coroutines/libaco
	url = git@github.com:XiuyeXYE/libaco.git
	branch = master



[submodule "libcopp"]
	path = coroutines/libcopp
	url = git@github.com:XiuyeXYE/libcopp.git
	branch = master

[submodule "libco"]
	path = coroutines/libco
	url = git@github.com:XiuyeXYE/libco.git
	branch = master

[submodule "NtyCo"]
	path = coroutines/NtyCo
	url = git@github.com:XiuyeXYE/NtyCo.git
	branch = master

[submodule "coroutine"]
	path = coroutines/coroutine
	url = git@github.com:XiuyeXYE/coroutine.git
	branch = master


[submodule "coroutines/async-coroutine"]
	path = coroutines/async-coroutine
	url = git@github.com:XiuyeXYE/async-coroutine.git
	branch = master

[submodule "openjdk8"]
	path = openjdk8
	url = git@github.com:XiuyeXYE/OpenJDK-Research.git
	branch = master
	
[submodule "jdk"]
	path = jdk
	url = git@github.com:XiuyeXYE/jdk.git
	branch = master



[submodule "cpbook-code"]
	path = cpbook-code
	url = git@github.com:XiuyeXYE/cpbook-code.git
	branch = master

[submodule "minix"]
	path = minix
	url = git@github.com:XiuyeXYE/minix.git
	branch = master

[submodule "xv6-public"]
	path = OS/xv6-public
	url = git@github.com:XiuyeXYE/xv6-public.git
	branch = master
